.logo img {
  width: 100px; /* Adjust as needed */
  height: auto;
  /* Add more styles as needed */
}

.logo {
  float: left;
  /* background-color: #cad6e4; */

}

.center-div {
  left: 20px !important;
  text-align: center;
}


html, body {
  height: 100%;
  width: 100%;
  background-color: #d3dce6;
  font-family: monospace;
  box-sizing: border-box;
}

.popup{
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.tabs {
  width: 100%;
  height: 100%;
  max-width: 50vh;
  max-height: 5vh;
  display: flex;
  justify-content: space-around;  
  z-index: 999;
  text-align: center;
  color: black; 
  /* font-size: 12px; */
  font-size: 1.0em;
  font-weight: 600;
}

.tab-content {
  position: relative;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Add transition property here */
}

.tabs .tab-content {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(1, 169, 130), 0 0 0 2px white, 0.3em 0.3em 1em rgb(192, 222, 216);
  border-radius: 5px;
  margin: 7px;
}

.tabs .tab-content.tab--selected {
  color: white;
  background-color: #d3dce6 !important; /* This color now matches the body and popup background color */
}


.tabs .tab-content.tab--selected:hover {
  background-color: #dfe6ed;
}

.tabs .tab-content:hover {
  transform: scale(1.1);
}


.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #01A982;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #ffffff,
                 1px 2px 0px #957dad,
                 1px 3px 0px #957dad,
                 1px 4px 0px #957dad,
                 1px 5px 0px #957dad,
                 1px 6px 0px #957dad,
                 1px 10px 5px rgba(16, 16, 16, 0.5),
                 1px 15px 10px rgba(16, 16, 16, 0.4),
                 1px 20px 30px rgba(16, 16, 16, 0.3),
                 1px 25px 50px rgba(16, 16, 16, 0.2);
  }



h2 {
    color: #d30f0f;
    text-align: center;
    
}


#logout-button {
    position: absolute;
    right: 20px;
    top:20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* position: relative; */
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #01A982;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  #logout-button:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  #logout-button:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  #logout-button:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  #logout-button:active {
    transform: translate(2px ,2px);
  }


  #run-crawler-button {
    border-radius: 8px;
    height: 40px;
    border: none;
    background: #01A982;
   /* Change the background color to orange */
    color: white;
    padding: 15px;
    box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026,
      0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025,
      0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023,
      0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020,
      0 13.646761411524492px 13.646761411524492px -3.125px #0000001b,
      0 30px 30px -3.75px #0000000d;
    font-weight: bold;
    font-family: Montserrat;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 150ms ease-in-out;
  }
  
  #run-crawler-button:active {
    scale: 0.95;
    background: #01A982;
   /* Change the active background color to red */
    color: black;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0.637473px 1.14745px -1.125px,
      rgba(0, 0, 0, 0.24) 0px 1.93094px 3.4757px -2.25px,
      rgba(0, 0, 0, 0.192) 0px 5.10423px 9.18761px -3.375px,
      rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
  } 


  #stop-crawler-button {
    border-radius: 8px;
    height: 40px;
    border: none;
    background: rgb(229, 68, 68); /* Background color for stop-crawler-button */
    color: white;
    padding: 15px;
    box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026,
      0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025,
      0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023,
      0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020,
      0 13.646761411524492px 13.646761411524492px -3.125px #0000001b,
      0 30px 30px -3.75px #0000000d;
    font-weight: bold;
    font-family: Montserrat;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 150ms ease-in-out;
}

#stop-crawler-button:active {
    scale: 0.95;
    background: darkred; /* Active background color for stop-crawler-button */
    color: black;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0.637473px 1.14745px -1.125px,
      rgba(0, 0, 0, 0.24) 0px 1.93094px 3.4757px -2.25px,
      rgba(0, 0, 0, 0.192) 0px 5.10423px 9.18761px -3.375px,
      rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
}


/* 
button {
    background: transparent;
    color: rgb(18, 22, 22);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow:  28px 28px 48px #5a5a5a,
             -28px -28px 48px #ffffff;
  }
  
button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
    z-index: 1;
    transition: background 3s;
  }
  
button:hover::before {
    animation: rotate 1s;
    transition: all .5s;
  }
  
@keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  } */


  .pre {
    color: blue;
    font-size: 18px;
    padding: 10px;
    font-family: Arial;
}




.tabs2 {
    width: 100%;
    /* max-width: 500px; */
    height: 100%;
    display: flex;
    flex-direction: column !important;  /* Stack items vertically */
    justify-content: flex-start;  /* Align items to the start of the container */
    margin: 0;
    padding: 0;
    list-style-type: none;
   
}



.table-content {
    position: relative;
    border-radius: 8px;
    width: 150px !important;
    height: 50px !important;
    /* margin-bottom: 40px !important; */
  
    /* color: red;  */
}



.tabs2 .table-content {
    border: 1px solid #ccc;  /* Add a border */
    padding: 10px;  /* Add some padding */
    box-shadow: inset 0 -3em 3em rgba(1, 169, 130), 0 0 0 2px white, 0.3em 0.3em 1em rgb(192, 222, 216);
    border-radius: 5px;  /* Round the corners */
    margin: 10px;  /* Add some margin */
}



.tabs2 .table-content.tab--selected {
    color: white;  /* Change this to your preferred color */
    background-color:#dfe6ed;
}

.tabs2 .table-content.tab--selected:hover {
    background-color:#dfe6ed;

}

/* CSS file in assets directory */

.tabs2 .table-content:hover {
    transform: scale(1.1);  /* Change this to your preferred scale */
}


#datatable{
    box-shadow:  28px 28px 48px #5a5a5a,
             -28px -28px 48px #ffffff;
    padding: 3px;
    left: 80px;
    
}


#datatable-2 {
  box-shadow:  28px 28px 48px #5a5a5a,
           -28px -28px 48px #ffffff;
  padding: 3px;
  right: 60px;
  /* max-width: 800px !important; */
  width: 100%;  /* Adjust this value to set the width of the table */
  height: auto;
  
}

#save-button-1 {
    position: absolute;
    right: 20px;
    top:20px
}

#save-button-1 {
  --bg: #01A982;
  --hover-bg: #0D5265;
  --hover-text: white;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

#save-button-1:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

#save-button-1:active {
  transform: translate(0);
  box-shadow: none;
}


/* inspired form gumroad website */
#save-button-3 {
    --bg: #01A982;
    --hover-bg: #0D5265;
    --hover-text: white;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
#save-button-3:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
#save-button-3:active {
    transform: translate(0);
    box-shadow: none;
  }
  
  #add-row-button {
    --bg: #01A982;
    --hover-bg: #0D5265;
    --hover-text: white;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
  #add-row-button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  #add-row-button:active {
    transform: translate(0);
    box-shadow: none;
  }
 

  .container {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;  /* Adjust this value to move the buttons closer or further from the table */
}


.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 20px !important;
}

#add-row-button {
  margin-bottom: 20px;  /* Adjust this value to increase or decrease the gap between the buttons */
}

.buttons button {
  width: 100px;  /* Adjust this value to set the width of the buttons */
  height: 50px;  /* Adjust this value to set the height of the buttons */
}

#date-picker-single, #schedule {
  margin-left: 120px;
}

#date-picker-single .DateInput {
  width: 100px;
  height: 10px !important;
  /* color: blue; */
}

#date-picker-single .DateInput_input {
  
  font-size: 15px;
}


#mode-selection{
  font-size: 1.1em;
  font-weight: 600;
}
/* Dropdown styles */

/* .Select-control {
    max-width: 80em;
    position: relative;
    width: 100%;
    background: #6b7388;
    font-size: 18px;
    border: none;
    color: #0b0a0a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
  } */
  
/*   
  .Select-menu-outer {
    list-style: none;
    position: absolute;
    top: 3.2em;
    width: 100%;
  
  }
  
  .Select-option {
    background: #2f3238;
    border-radius: 0.5em;
    position: relative;

    transition: 0.5s;
  }
  
  .Select-option.is-focused {

    background: #1d1f24;
  }
  
  .Select-option.is-selected {
    background: #1d1f24;
  }
  
  .Select-value {
    color: #fff;
    
    text-decoration: none;
  } */
  
  /* base styles */
  /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Segoe UI", sans-serif;
    color: #333;
  } */
